/Develop/JAVA/JavaApplication1/nbproject/private/
/Develop/JAVA/JavaApplication1/build/
/Develop/JAVA/JavaApplication2/nbproject/private/
/Develop/JAVA/JavaApplication2/build/
/Develop/JAVA/JavaApplication2/dist/